{% for message in discussion %}
    <p>{{ message.content }}</p>
    <p>Envoyé par : {{ message.sender.email }}</p>
    <p>Date : {{ message.createdAt|date('d-m-Y H:i') }}</p>
{% endfor %}
{# {% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <div class="container">
        <aside>
            <nav>
                <ul>
                    <li><a href="">Aliev Baisangour</a></li>
                </ul>
            </nav>
        </aside>
        <section>
            <div class="wrap">
                <div class="user">
                    <span>Aliev Baisangour</span>
                    <p>En ligne</p>
                </div>
            </div>
            <!-- Turbo stream listen pour écouter l'évènement (s'abonner au channel) -->
            <div id="messages" {{ turbo_stream_listen('chat') }}>
                {% for message in messages %}
                    <article id="message_{{ message.id }}">
                        <p>{{ message.content }}</p>
                        <div>{{ message.createdAt|date('Y-m-d H:i:s') }}</div>
                    </article>
                {% endfor %}
            </div>

            
            <turbo-frame id="message_form">
                {{ form_start(form) }}
                    {{ form_widget(form.content) }}
                    <button>Envoyer</button>
                {{ form_end(form) }}
            </turbo-frame>
        </section>
    </div>
</main>
{% endblock %} #}